<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img class="logo" src="../assets/logo.png" alt="Logo is missing">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu_icon" [class.menu_icon_class]="menu_icon_variable" (click)="OpenMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu" [class.menuClass]="menuVariable">
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Contact</li>
                        <li>SignUp</li>
                        <li>SignIn</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>